<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row>
    <span routerLink="/all" routerLinkActive="active">Main post</span>
    <mat-icon class="example-icon">favorite</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span routerLink="/add" routerLinkActive="active">New post</span> <span class="example-spacer"></span>
    <mat-icon class="example-icon">laptop</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span routerLink="/update" routerLinkActive="active">Update post</span> <span class="example-spacer"></span>
    <mat-icon class="example-icon">update</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
